@media all and (min-width: 480px) {

    .Header {
        padding: 10%;
        font-size: 60px;
        font-weight: 500;
        text-align: center;
        color: rgb(46, 46, 161);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .Dashboard {
        padding: auto;
        color: aliceblue;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
      }

      .Button {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
      }
        
      
} 